        <h3>关于Rails Guides 中文</h3>
        <p>
          你也可以为 Rails Guides 中文做出贡献.
        </p>
        <p>
          如果你发现了任何翻译上的错误或者不足.请到 <%= link_to 'GitHub 帐号','https://github.com/ruby-china/rails-guides/'%> clone 并且 fork 一份进行更正提交,我们会很快做出回应。
          如果你发现了任何代码上的 bug 或者不足，你可以到 <%= link_to 'docrails', 'https://github.com/lifo/docrails' %> 进行反馈与更正。
          如果你发现了某一篇文章已经过时了并且并没有做出相应的提示，你也同样可以在 <%= link_to '这里','https://github.com/ruby-china/rails-guides/issues' %> 上发起一个请求来提醒我们。
        </p>
        <p> 如果对 Rails 有什么建议的话去这里<%= link_to 'open an issue for rails', 'https://github.com/rails/rails/issues/'%>.  </p>
        <p>当然你不管你有什么想要说的都可以发到 <%= link_to 'Ruby China','http://ruby-china.org' %> 讨论或者 <%= mail_to "cool.zhikai@gmail.com","mail我"%>.欢迎加入到 Ruby on Rails 社区！</p>
      </div>
    </div>
  </div>


