        <h3>关于Rails Guides 中文</h3>
        <p>
          你也可以为 Rails Guides 中文做出贡献.
        </p>
        <p>
          如果你发现了任何翻译上的错误或者不足.请到<%= link_to 'GitHub帐号','http://github.com/RubyChinaTranslation/ruby-china-translation'%> clone 并且 fork 一份进行更正提交,我们会很快做出回应。
          如果你发现了任何代码上的bug或者不足，你可以到<%= link_to 'docrails', 'https://github.com/lifo/docrails' %> 进行反馈与更正。
          如果你发现了某一篇文章已经过时了并且并没有做出相应的提示，你也同样可以在<%= link_to '这里','http://github.com/ruby-china-translation/issues' %>上发起一个请求来提醒我们。
        </p>
        <p> 
          如果你也想要加入到我们的翻译计划，甚至你想为我们撰写中文的Rails文章或者教程。请参照这里的<%= link_to 'Ruby on Rails Guides 中文翻译手册', 'rails_guides_translate_guidelines.html' %> 和<%= link_to "Ruby on Rails Guides翻译规则" %>来写作并且提交到我们的<%= link_to 'github帐号','http://github.com/RubyChinaTranslation/ruby-china-translation' %> 
        <p>
          如果对rails有什么建议的话去这里<%= link_to 'open an issue for rails', 'https://github.com/rails/rails/issues'%>.
        </p>
        <p>当然你不管你有什么想要说的都可以发到 <%= link_to 'ruby china社区','http://ruby-china.org' %> 讨论或者<%= mail_to "cool.zhikai@gmail.com","mail我"%>.欢迎加入到Ruby on Rails 社区！</p>
      </div>
    </div>
  </div>


