<% content_for :page_title do %>
Ruby on Rails Guides 中文
<% end %>

<% content_for :header_section do %>
<%= render 'welcome' %>
<% end %>

<% content_for :index_section do %>
<div id="subCol">
  <dl>
    <dd class="kindle">Rails Guides (英文) 现在已经有了 <%= link_to 'Kindle版本', 'https://kindle.amazon.com' %>,
在 iPad, iPhone, Mac, Anroid..上使用 <%= link_to 'kindle书阅读器', 'http://www.amazon.com/gp/kindle/kcp' %>一样也可以使用，点击 <%= link_to '下载', @mobi %>.
    </dd>
    <dd class="work-in-progress">如果文章被打上了这样的标签就说明这文章还没有完成或者还没有人认领翻译，如果是前者请耐心等待对应贡献者的文章，如果是后者你可以直接<%= link_to "fork并翻译","https://github.com/ruby-china/rails-guides" %>,我们欢迎任何形式的建议</dd>
  </dl>
</div>
<% end %>

<% documents_by_section.each do |section| %>
  <h3><%= section['name'] %></h3>
  <dl>
    <% section['documents'].each do |document| %>
      <%= guide(document['name'], document['url'], :contributor => document['contributor'], :work_in_progress => document['work_in_progress']) do %>
                <p><%= document['description'] %></p>
      <% end %>
    <% end %>
  </dl>
<% end %>
